{% extends 'base.html' %}
{% load static %}

    {% block content %}
    <section>
        <div class="container-fluid bg-primary">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="overflow-hidden d-flex align-items-center justify-content-center" style="max-height: 300px;">
                        <img class="img w-100" src="{{ product.product_image_url }}" alt="Card image cap" style="filter: blur(3px); opacity: 0.5;">
                        <div class="text-center position-absolute bg-info p-3 border-dark border border-2 rounded" style="z-index: 10;">
                            <h4>{{ product.product_name }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-info">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="rounded-pill bg-primary img-fluid text-center py-5 my-5">
                        <img src="{% get_static_prefix %}/core/img/nutriscore/Nutri-score-{{ product.product_nutriscore }}.svg"></img>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive-md my-5 w-75 mx-auto" style="font-family: Open Sans, sans-serif;">
                        <table class="table table-md table-striped table-borderless">
                            <thead>
                                <tr class="bg-danger text-light">
                                    <th>Valeurs nutritionelles :</th>
                                    <th scope="col">pour 100g</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="bg-primary">
                                    <th scope="row">énergie : </th>
                                    <td>{{ product.product_energy_kj_100g }} kJ</td>
                                </tr>
                                <tr class="bg-info">
                                    <th scope="row">matières grasses : </th>
                                    <td>{{ product.product_fat_100g }} g</td>
                                </tr>
                                <tr class="bg-primary">
                                    <th scope="row">dont saturées : </th>
                                    <td>{{ product.product_saturated_fat_100g }} g</td>
                                </tr>
                                <tr class="bg-info">
                                    <th scope="row">sels : </th>
                                    <td>{{ product.product_salt_100g }} g</td>
                                </tr>
                                <tr class="bg-primary">
                                    <th scope="row">glucides : </th>
                                    <td>{{ product.product_carbohydrates_100g }} g</td>
                                </tr>
                                <tr class="bg-info">
                                    <th scope="row">dont sucres : </th>
                                    <td>{{ product.product_sugars_100g }} g</td>
                                </tr>
                                <tr class="bg-primary">
                                    <th scope="row">fibres : </th>
                                    <td>{{ product.product_fibers_100g }} g</td>
                                </tr>
                                <tr class="bg-info">
                                    <th scope="row">protéines : </th>
                                    <td>{{ product.product_proteins_100g }} g</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="{{ product.product_url }}" target="_blank">
                        <button type="button" class="btn-lg btn-danger my-5 text-light font-weight-light">Voir La Fiche d'OpenFoodFacts</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    
    {% endblock %}
