{% extends 'base.html' %}
{% load static %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center m-5">
                        <h1>Mentions Légales</h1>
                    </div>
                    <div class="text-center m-4">
                        <h3>Mentions légales regardant le présent site web et autres informations</h3>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-left border-2 border-bottom border-dark m-4">
                        <h4>Édition du Site Web</h4>
                    </div>
                    <div class="text-left list-group ml-5">
                        <h5>Le site internet www.pur-beurre&Cie.heroku-app.com est la propriété de la société : PurBeurre SARL</h5>
                        <ul>
                            <li>Créateur et Webmaster : Wissam Shalby</li>
                            <li>Hébergeur du site : HEROKU Inc. – 650 7th Street San Francisco, CA USA</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="text-left border-2 border-bottom border-dark m-4">
                        <h4>Crédits</h4>
                    </div>
                    <div class="text-left list-group ml-5">
                        <ul>
                            <li>OpenFoodFacts API : https://openfoodfacts.org</li>
                            <li>Les pictogrammes utilisés sur www.pur-beurre&Cie.heroku-app.com sont sous licence libre Fontawesome (https://fontawesome.com/license/free)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}