// Variables

// Color overrides
/*
$theme-colors: ( "primary":#E8A75D);
$theme-colors: ( "info":#DE9440);
$theme-colors: ( "danger":#C45525);
$theme-colors: ( "success":#86EBE6);
$theme-colors: ( "dark":#345A61);
;
*/
// Set a custom color

$orange: #f4623a !default;
$brown: #5c4d42 !default;
$rooibos: #C45525;
$moules: #345A61;
$rigolo: #86EBE6;
$caramel: #DE9440;
$biscuit: #E8A75D;


// Set primary color to orange
$primary: $biscuit;
$info: $caramel;
$danger: $rooibos;
$success: $rigolo;
$dark: $moules;

// Font overrides
$font-family-sans-serif: "Scope One", sans-serif !default;

$font-family-base: "Scope One", sans-serif !default;

$font-family-serif: "Scope One", sans-serif !default;

$headings-font-family: "Open Sans", sans-serif !default;

$font-family-monospace: "Open Sans", sans-serif !default;
// Custom variables
$navbar-height: 72px;
